#Anas{
    background-color: aqua;
    margin-top: 40px;

}
.myDiv{
    background-color: blueviolet;
    color: white;
    margin-left: 40px;
}
 #message{
    background-color: blueviolet;
    color: white;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}